# Below are the requirements/dependencies for this project.

# Install ansible
ansible

# Insatll cryptography library for (openssl)
cryptography

# This enables Ansible to talk to WinRM on Windows.
# Make sure port 5985 is open (WinRM HTTP port).
pywinrm[credssp]

# Official HashiCorp Vault API client for Python
hvac

# (Optional) Manage environment variables from a .env file
python-dotenv

# For general HTTP operations
requests

# For the CLI utility
argparse

# PostgreSQL client for Python
psycopg2-binary

# Curl
pycurl